OPENAI_API_KEY=

OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

MODEL=qwen-plus

DB_PATH=

Z3_JAR_PATH=


# JWT认证配置
# JWT Secret
JWT_SECRET_KEY=your-secret

# 加密算法
JWT_ALGORITHM=HS256

# access token 过期时间
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=300

# refresh token 过期时间
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
