OPENAI_API_KEY=

OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

MODEL=qwen-plus

DB_PATH=

Z3_JAR_PATH=

# JWT认证配置
JWT_SECRET_KEY=your-secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=300
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
