
# ---------------必填-------------------------

OPENAI_API_KEY=
OPENAI_BASE_URL=
MODEL=
# 服务数据库连接配置
SERVICE_DB_URL=sqlite:///data/sqlite.db

# JWT认证配置
# JWT Secret
JWT_SECRET_KEY=your-secret
# 加密算法
JWT_ALGORITHM=HS256
# access token 过期时间
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=300
# refresh token 过期时间
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# 初始管理员账号配置
ADMIN_EMAIL=adm@sql.com
ADMIN_PASSWORD=sqlopt123

# 日志级别
LOG_LEVEL="INFO"
# --------------------------------------------

# --------------DEV---------------------------
# OpenAI连接超时时间
REQUEST_TIMEOUT=60
# SQL等价性校验工具配置
SQLSOLVER_JAR_PATH=
Z3_JAR_PATH=
JAVA_17_PATH=
# LangSmith配置（可选，用于更好的调试体验）
LANGSMITH_API_KEY=dummy_key_for_local_dev
LANGSMITH_TRACING=true
# 把这个开关打开之后，graph里面的所有依赖将会加载.env配置(生产环境勿用)
LANGSMITH_DEV_MODE=false
# 测试用MySQL连接配置
MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=tpch
# --------------------------------------------

